body{
    font-family: var(--body3);
    color: var(--footer);
    background-color: var(--b);
}

h3{
    font-family: var(--header3);
    color: var(--v);
    font-size: var(--h3);
}

h2{
    font-family: var(--header2);
    color: var(--texte);
    font-size: var(--h1-h2);
}

.go_up{
    margin-left: 15px;
    position: fixed;
    top: 85%;
    z-index: 6;
}

.para{
    margin: 0px 25px;
}

a{
    text-decoration: none;
}

h3{
    font-family: var(--header3);
    font-size: var(--h3);
}