.prog{
    position: relative;
    margin-top: -55px;
    border-radius: 30px 30px 0px 0px;
    height: 850px;
    background-color: var(--mc);
}

.prog__title{
    padding-top: 50px;
    padding-bottom: 60px;
    text-align: center;
}

.prog__title::after{
    content: "";
    background-color: var(--bc);
    height: 12px;
    width: 200px;
    display: block;
    border-radius: 30px;
    margin: 0 auto;
}

.texte__card{
    padding-bottom: 10px;
}

.prog__card{
    display: inline-block;
    text-align: center;
    background-color: var(--texte);
    margin-right: 60px;
    margin-left: 60px;
    padding: 20px 0px;
    width: 300px;
    margin: 0 auto 100px auto;
    border-radius: 30px;
    margin-left: 50px;
}

.title__card{
    display: block;
    margin: auto;
    width: 250px;
    text-align: center;
    padding: 0;
}

.link__card{
    text-align: center;
    text-decoration: none;
    font-family: var(--body2);
    color: var(--bc);
    font-size: var(--b1-b2);
}

.para__card{
    width: 250px;
    text-align: center;
    margin: 0 auto;
    font-family: var(--body2);
    color: var(--b);
}

.title__card{
    font-family: var(--header2);
    color: var(--bc);
    font-size: var(--h1-h2);
}

.strage__form{
    margin-top: -50px;
    position: absolute;
    right: 0;
    z-index: 1;
}

.link__prog{
    position: relative;
    text-decoration: none;
    font-family: var(--body2);
    color: var(--b);
    font-size: var(--b1-b2);
    margin-left: 30px;
    margin-top: 60px;
    background-color: var(--texte);
    border-radius: 20px;
    padding: 8px 12px 8px 12px;
}

