h1 {
    color: var(--v);
    font-family: var(--header1);
    font-size: var(--h1-h2);
    padding: 0px;
}

.header {
  position: relative;
  margin-top: 20px;
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sousheader{
    display: flex;
    justify-content: space-between;
    margin: 15px 15px 0px 15px;
}

.sousheader h3{
    font-size: 15px;
}