.propos__title{
    font-family: var(--header3);
    font-size: var(--h3);
    color: var(--texte);
    margin: 100px 20px 30px 20px;
}

.propos__item{
    padding-bottom: 20px;
}

.equipe__item{
    padding-bottom: 20px;
}

.chart__para{
    margin-left: 0px;
}