.menu {
  visibility: hidden;
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: var(--b);
  color: var(--b);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space);
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}

.menu-btn {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--b);
}

.menu__link {
  color: var(--v);
  text-decoration: none;
  font-size: var(--h3);
  display: block;
}

.menu-btn__bar,
.menu-btn__bar::before{
  content: "";
  background: var(--v);
  height: 3px;
  width: 100%;
  position: absolute;
  border-radius: 2px;
  left: 0;
  z-index: 10;
  transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: -10px;
}
  
.menu-btn__bar::after {
    top: 10px;
    content: "";
    background: var(--v);
    height: 3px;
    width: 18px;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.menu[aria-hidden="false"] {
  transform: translateX(0);
  visibility: visible;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
  transform: rotate(135deg);
  background: var(--v);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before,
.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::after {
  opacity: 0%;
}

.menu[aria-expanded="false"] {
  visibility: visible;
}